// .selecction__company {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background-color: $colorBlack;
//     flex-direction: column;
// }

// .selecction__company__content {
//     width: 435px;
//     height: 620px;
//     border-radius: 8px;
//     padding: 0px 30px 10px 30px;
//     background-color: $colorMain;
//     margin: 5px;
//     .margin-bottom {
//         margin: 5px 0;
//     }
//     .title-2 {
//         font-size: 18px;
//     }

//     .selecction__company__logo__container {
//         margin: 5px 0;
//         width: 100%;
//         display: flex;
//         justify-content: center;
//         & .selecction__company__logo {
//             width: 200px;
//         }
//     }
// }
.framework {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $colorBlack;
    min-height: 100vh;
}

.framework-content {
    width: 500px;
    border-radius: 8px;
    padding: 15px 30px;
    background-color: $colorMain;
    // height: 520px;
}

.framework-logo-container {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;

    & .framework-logo {
        width: 170px;
    }
}
