.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $colorBlack;
    min-height: 100vh;
}

.login__content {
    width: 500px;
    border-radius: 8px;
    padding: 32px;
    background-color: $colorMain;
    height: 520px;
    .footer_logo {
        margin: 10px 0px 10px 80px;
    }
}

.login__logo-container {
    width: 100%;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;

    & .login__logo {
        width: 200px;
    }
}
