.AppAlert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 0.5rem 4rem;
    animation: show-alert 0.35s, hide-alert 0.35s 7s forwards;
    z-index: 1000;

    .AppAlert-close {
        cursor: pointer;

        path {
            stroke: currentColor;
        }
    }

    &.error {
        background-color: rgba($colorRed, 0.98);
    }

    &.success {
        background-color: rgba($colorGreen, 0.98);
    }

    &.warning {
        background-color: rgba($colorAccent, 0.98);
        color: $colorMain;
    }

    @keyframes show-alert {
        from {
            transform: translateY(-100%);
        }
    }

    @keyframes hide-alert {
        to {
            transform: translateY(-100%);
        }
    }
}
