.button {
    border-radius: $border-radius;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.25s;
    position: relative;
    white-space: nowrap;

    &:active {
        transform: scale(0.95);
    }

    &:hover::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba($color: #000000, $alpha: 0.2);
    }
}

.table-button {
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    color: $colorAccent;
    text-decoration: underline;

    &.red {
        color: $colorRed;
    }

    &.green {
        color: $colorGreen;
    }

    &:active {
        transform: scale(0.95);
    }
}
.container__button {
    display: flex;
}
