.container-input_description {
    @include flex-vertical;
    border: none;

    &:focus-within {
        .textarea-label {
            color: $colorAccent;
        }
    }

    .textarea-label {
        margin-bottom: 0.25rem;
        margin: 10px 25px;
        //padding-left: 1rem;
        color: $label-color;
        transition: color 0.25s;
    }
}

.style-textarea {
    @include input-base;
    margin: 0 auto;
    border: 1px solid $border-color;
    background-color: $field-background;
    height: 64px;
    width: 930px;
    color: $field-color;
    border-radius: $border-radius;
    font-size: 1rem;
    transition: border-color 0.25s, background-color 0.25s;
    resize: none;

    &:placeholder {
        color: $border-color;
        opacity: 1;
    }

    &:focus {
        background-color: $field-background-active;
        border-color: $colorAccent;
    }
}
