.layout {
    display: grid;
    grid-template-areas: 'sidebar content';
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr;
    min-height: 100vh;
}

.layout__sidebar {
    grid-area: sidebar;
    background-color: $colorMain;
    overflow: auto;
}

.layout__content {
    grid-area: content;
    overflow: auto;
}
