.container-modal-company {
    width: 550px;
}
.modal-title {
    margin-bottom: 60px;
}
.modal-company-conten {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 20px;
}
.input-company {
    margin: 10px 0;
    margin-bottom: 130px;
}
