.container-modal-coin {
    width: 750px;
}
.modal-coin-conten {
    display: flex;
    align-items: center;
    width: 680px;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 8px;
}
.modal-title {
    color: $field-color;
}
.modal-action-container {
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    .stepper__circle {
        cursor: pointer;
        width: 50px;
        height: 50px;
        background: $colorMain;
        border-radius: $border-radius-round;
        color: $colorBlack;
        font-weight: bold;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.selected {
            background-color: $colorAccent;
        }
    }
}
.modal-action-container-title {
    display: flex;
    justify-content: space-between;
    width: 520px;
    color: $field-color;
}
.list-coins {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.modal-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.line {
    position: relative;
    width: 300px;
    height: 5px;
    background: $colorMain;
    top: 23px;
}
h3 {
    color: $field-color;
}
