.container-modal-ubicacion {
    width: 550px;
}
.modal-ubicacion-conten {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 8px;
}
.input-ubicacion {
    margin: 17px 5px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
