.container__modal__Financial {
    width: 500px;
}
.modal__title {
    margin-bottom: 20px;
}
.margin {
    margin: 10px 0;
    padding: 0px 10px 0 10px;
}
.container__date {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
