.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 32px;
    display: flex;
    justify-content: center;
    background-color: rgba($colorMain, 0.85);
    z-index: 99;
}

.modal__content {
    border-radius: $border-radius;
    position: relative;
    background-color: #222831;
    padding: 16px;
    overflow: auto;
    height: 100%;
}

.modal__close-icon {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: #fff;
}
