.table-component-1 {
    margin: 0.5rem 0;
    width: 100%;
    max-height: 36rem;
    overflow: hidden;
    overflow-y: auto;

    .table-of-accounts__table {
        width: 100%;
        border-collapse: collapse;

        tr.table-component__content--row td,
        tr.table-component__content--row th {
            padding: 0.5rem;
            text-align: left;
        }

        tr.table-component__content--row td {
            color: $field-color;
        }

        tr.table-component__content--row th {
            border-bottom: 2px solid $colorAccent;
            color: $colorAccent;
            position: sticky;
            top: 0;
            padding-top: 0;
            background-color: darken($color: $colorMain, $amount: 10);
        }

        .pair {
            background-color: $colorMain;
        }

        .odd {
            background-color: darken($color: $colorMain, $amount: 10);
        }

        .selectable {
            cursor: pointer;
        }

        .pair.selectable:hover {
            background-color: lighten($color: $colorMain, $amount: 5);
        }

        .odd.selectable:hover {
            background-color: darken($color: $colorMain, $amount: 5);
        }
    }
}
