.container__of__register__table__titles {
    margin-top: 8px;
    background-color: $colorBlack;
    padding: 5px 16px;
    grid-gap: 14px;
    width: 100%;
    max-height: 36rem;
    display: grid;
    grid-template-columns: minmax(20px, max-content) repeat(
            4,
            minmax(min-content, 1fr)
        );
    border-bottom: 2px solid $colorAccent;
    & p {
        color: $colorAccent;
        white-space: nowrap;
        margin-bottom: 8px;
    }
}

.container__for__register__table__rows {
    width: 960px;
    height: 415px;
    overflow: auto;
}
.table__of__accounts__row__register {
    @include table-row;

    grid-template-columns: minmax(20px, max-content) repeat(
            4,
            minmax(min-content, 1fr)
        );
}
