.container__table__balance {
    width: 1010px;
    background: #ccc;
    height: 60vh;
    border-radius: 10px;
    margin-top: 10px;
}
.content__table {
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid rgb(219, 198, 198);
    box-shadow: 1px 1px 5px;
    width: 800px;
    margin: 0 auto;
    margin-top: 15px;
    height: 52vh;
    overflow: auto;
}
.container__of__balance__table__titles {
    padding: 5px 0 5px 20px;
    background-color: #ccc;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: minmax(20px, max-content) repeat(
            3,
            minmax(min-content, 250px)
        );
    border-bottom: 2px solid #ccc;
    & p {
        white-space: nowrap;
    }
    & span {
        color: #000;
    }
}

.table__of__accounts__row__balance {
    grid-template-columns: minmax(20px, max-content) repeat(
            3,
            minmax(min-content, 250px)
        );
    display: grid;
    // border-bottom: 1px solid #ccc;
    padding: 5px 0 5px 20px;
    & p {
        color: black;
        white-space: break-spaces;
    }
}
.actual__page__table__balance {
    color: #222831;
    width: 80px;
    display: flex;
    align-items: center;
}
