.UploadFile {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;

    background-color: #1d1d1d;
    color: $colorAccent;
    border-radius: 7px;
    border: 2px dashed currentColor;
    box-shadow: 0 0 0 5px #1d1d1d;
    padding: 1rem;
    margin: 7px;
    text-align: center;
    transition: background-color 0.25s, color 0.25s, box-shadow 0.25s;

    &.active {
        background-color: $colorAccent;
        color: #1d1d1d;
        box-shadow: 0 0 0 7px $colorAccent;
    }
}
