// base styles for inputs
@mixin input-base {
    border: none;
    outline: none;
    //padding: 0.5rem 1rem;
    padding: 10px 20px;
    font-size: 16px;
}

// base styles for inputs
@mixin card-background {
    border-radius: $border-radius;
    background-color: rgba($color: #000000, $alpha: 1);
}

// base styles for max-width
@mixin max-width {
    min-width: 1240px;
    width: 90%;
    margin: 0 auto;
    max-width: 1440px;
    padding: 8px 16px;
}

// Link style base
@mixin link-base {
    display: inline-block;
    text-decoration: none;
    border: none;
}

// flexbox base declarations
@mixin flex {
    display: flex;
}

@mixin flex-horizontal {
    @include flex;
    flex-direction: row;
}

@mixin flex-vertical {
    @include flex;
    flex-direction: column;
    margin: 8px 4px;
}

@mixin full-screen {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

// text overflow
@mixin hash {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 350px;
    max-width: 700px;
    cursor: pointer;
    color: $colorAccent;
}

@mixin table-row {
    width: 100%;
    padding: 0px 16px;
    white-space: break-spaces;
    display: grid;
    grid-gap: 14px;
    background-color: $colorMain;
    overflow: hidden;
    justify-items: stretch;

    &:nth-child(even) {
        background-color: $colorBlack;
    }
}

// text overflow
@mixin text-overflow($maxWidth: 210px) {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: $maxWidth;
}
